<div id="login">
   <h1>Login</h1>
   <%= form_tag '/login' do %>

      <%# show login errors %>
      <div class="errors">
         <% binding.pry %>
         <% if !flash[:error].nil? && (flash[:error] != []) %>
            <% flash.error.each do |name, msg| %>
               <%= content_tag :div, msg, class: 'error', id: 'error-detail' %>
            <% end %>
         <% end %>
      </div>

      <%# You know the drill here %>
      <div class="field">
         <%= label_tag "dj_name" %>
         <%= text_field_tag :dj_name %>
      </div>

      <div class="field">
         <%= label_tag "password" %>
         <%= password_field_tag :password %>
      </div>

      <%= submit_tag "Submit" %>
   <% end %>
</div>
