<% back_path = URI(request.referer).path %>

<div class="user" id="<%= @user.id %>">
   <h1>DJ: <%= @user.dj_name %></h1>
   <%= image_tag @user.avatar %>
</div>

<div class="user-collection">
<% binding.pry %>
   <% if current_user && (@user.id == current_user.id) %>
      <h2>Your Collection</h2>
   <% else %>
      <h2><%= @user.dj_name %>'s Collection</h2>
   <% end %>

   <div class="mixtapes-list">
      <h3>Display Mixtapes</h3>
      <%= render partial: 'my_mixtapes', :locals => { :collection => @user.mixtapes } %>
   </div>

   <div class="song-list">
      <h3>Display Songs</h3>
      <%= render partial: 'my_songs', :locals => { :collection => @user.songs }  %>
      </p>
   </div>
</div>



<h3>Links</h3>
<%= link_to "<< Back", back_path %>
<%= link_to "DJ List", users_path %>
<% if !current_user %>
<p><%= render partial: 'layouts/hey_dj' %> to start Mix.ing!</p>
<% end %>
