<% back_path = URI(request.referer).path %>

<div class="user" id="<%= @user.id %>">
   <h1>DJ: <%= @user.dj_name %></h1>
   <%= image_tag @user.avatar %>
</div>

<div class="user-collection">
<h2>Your Collection</h2>

<h3>Display Mixtapes</h3>
<p>mixtapes here</p><br>
<h3>Display Songs</h3>
<p>songs here</p>
</div>

<h3>Links</h3>
<%= link_to "<< Back", back_path %>
<%= link_to "DJ List", users_path %>
