<% back_path = URI(request.referer).path %>

<div class="one">
   <h1 class="mixtape" id="name"><%= @mixtape.name %></h1>
   <p><%= image_tag @mixtape.img_src %></p>
</div>

<div class="two">
   <p><%= @mixtape.about %></p>
   <p><%= @mixtape.dedication %></p>
</div>

<div class="spine">
   <h3><%= @mixtape.name %> has: (<%= @mixtape.songs.size %>) Songs</h3>
</div>

<div class="song-list">
   <%= render partial: 'mixtapes/song', collection: @mixtape.songs %>
</div>

<% if current_user %>
   <div class="song-form" id="mixtape">
      <h3>Add a Song to <span class="mixtape" id="name"><%= @mixtape.name %>!</span></h3>

      <% if Song.all.length > 1 %><%= render partial: 'song_select' %><% end %>
      <%= render partial: 'song_add' %>
   </div>
<% else %>
   <%= render partial: 'layouts/hey_dj' %> to add songs to this Mixtape.
<% end %>

<h3>Links</h3>
   <%= link_to "<< Back", back_path %>
<% if current_user %>
   <%= link_to "Edit Mixtape", edit_mixtape_path(@mixtape) %>
   <%= link_to "Delete Mixtape", mixtape_path(@mixtape), method: :delete, data: {confirm: "Really delete the mixtape?"} %>
<% end %>
