<% back_path = URI(request.referer).path %>

<div class="one">
   <h1 class="mixtape" id="name"><%= @mixtape.name %></h1>
   <p><%= image_tag @mixtape.img_src %></p>
</div>

<div class="two">
   <p><%= @mixtape.about %></p>
   <p><%= @mixtape.dedication %></p>
</div>

<div class="spine">
   <h3><%= @mixtape.name %> has: (<%= @mixtape.songs.size %>) Songs</h3>
</div>

<div class="song-list">
   <%= render partial: 'mixtapes/song', collection: @mixtape.songs %>
</div>


<% if current_user %>
   <%# display errors from adding songs %>
   <% if @song %>
      <%= render partial: 'layouts/errors_flash', :locals => { :noun => flash[:errors] } %>
   <% end %>

   <%# logged in user can add and create songs %>
   <div class="song-form" id="mixtape">
      <h3>Add a Song to <span class="mixtape" id="name"><%= @mixtape.name %>!</span></h3>
      <%# select from library via drop-down %>
      <%= render partial: 'mixtapes/song_select' %>
      <%# or add new song %>
      <%= render partial: 'mixtapes/song_add' %>
   </div>

<% else %>
   <%# must log in to contribute %>
   <%= render partial: 'layouts/hey_dj' %> to add songs to this Mixtape.
<% end %>

<h3>Actions</h3>
   <%= link_to "<< Back", back_path %>
<% if current_user %>
   <%= link_to "Edit Mixtape", edit_mixtape_path(@mixtape) %>
   <%= link_to "Delete Mixtape", mixtape_path(@mixtape), method: :delete, data: {confirm: "Really delete the mixtape?"} %>
<% end %>
