<div class="songs">
   <% @songs.each do |song| %>
   <% user = User.find(song.user_id) %>
   <div class="song">
      <p class="song-info"><span class="italic"><%= song.title %></span> by <%= song.artist %></p>

      <%= render partial: 'songs/play_button', :locals => { :song => song }%>
      <p class="links">
      <%= link_to "View Song Details", song_path(song) %> Posted <%= distance_of_time_in_words(DateTime.now, song.created_at) %> ago by <%= link_to user.dj_name, user_path(user), class: "dj" %> </p>
   </div>
   <% end %>
</div>
