<% back_path = URI(request.referer).path %>
<% user = User.find(@song.user_id) %>

<div class="song">
  <p class="song-info"><span class="italic"><%= @song.title %></span> by <%= @song.artist %></p>
  <p class="song-history">From "<%= @song.album %>", Released <%= @song.date_released %></p>
  <p class="song-stats">Posted <%= distance_of_time_in_words(DateTime.now, @song.created_at) %> ago

  <%= link_to "Play", @song.audio, :target => "_blank" %>
  <p>Posted <%= distance_of_time_in_words(DateTime.now, @song.created_at) %> ago</p>
      <p>by <%= link_to user.dj_name, user_path(user) %></p>
</div>


<!-- <h2>Song Facts:</h2>
<p>nothing for now.</p> -->

<div class="song-actions">
   <% if current_user %>
      <%# Add song to mixtape via drop down menu %>
      <% if Mixtape.all.length > 1 %>
         <%= render partial: 'mixtape_select' %>
      <% end %>
   <% else %>
      <%# Nag for login %>
      <%= render partial: 'layouts/hey_dj' %> to add this song to a Mixtape of your own!</p>
   <% end %>
</div>

<%# Navigation %>
<div class="actions-bot">
   <h2>Actions:</h2>
   <%= link_to "<< Back", back_path %>
   <% if !current_user %>
      <%# Nag for login %>
      <%= render partial: 'layouts/hey_dj' %> to add and edit your own songs!</p>
   <% elsif current_user.id == @song.user_id %>
      <%# Creator can edit/delete %>
      <%= link_to "Edit Song", edit_song_path(@song) %>
      <%= link_to "Delete Song", song_path(:id => @song.id, :path => back_path), method: :delete, data: {confirm: "Really delete the song?"} %>
   <% end %>
</div>
