<% if current_user %>
   <div id="sidebar">
        <ul id="side-links">
           <div class="side-divide" id="first"></div>
           <!-- Salutation -->
           <%= "Yo #{current_user.dj_name}!" %>

           <div class="side-divide"></div>
           <!-- Navigation -->
           <li><%= link_to 'Create a New Mixtape', new_mixtape_path(current_user) %></li>
           <li><%= link_to 'Add Song to the Mix.r Library', new_song_path(current_user) %></li>

           <div class="side-divide"></div>
           <li><%= link_to 'View Your Profile', user_path(current_user) %></li>
           <li><%= link_to 'Favorite DJs?', users_path %></li>

           <div class="side-divide"></div>
           <li><%= link_to 'Account Details', edit_user_path(current_user) %></li>

           <div class="side-divide"></div>
           <li><%= link_to 'Logout', '/logout' %></li>

           <div class="side-divide" id="last"></div>
        </ul>
   </div>
<% end %>
