<!DOCTYPE html>
<html>
<head>
  <title>MymixApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="logo">
   <h1 id="icon">Mix<span class="whoosh">.r</span></h1>
   <p id="tagline">mix it up</p>
</div>
<%= render partial: 'layouts/nav_top' %>
<%= render partial: 'layouts/sidebar' %>

<div id="app">
   <%= yield %>
</div>

<div class="nav-bot">
   Dear interwebs,
   <br>Layout designed FROM FUCKING SCRATCH by Rachel Smyth. (c) 2015
   <br>Sincerely,
   <br>templates are cheating.
</div>
</body>
</html>
