<!DOCTYPE html>
<html>
<head>
  <title>MymixApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="nav-top">
   <%= link_to 'Home', '/index' %>
</div>

<div id="sidebar">
   <% if current_user %>
     <ul id="side-links">

        <li><%= link_to 'Create a New Mixtape', new_user_mixtape_path(current_user) %></li>
        <li><%= link_to 'Add Song to the Mix.r Library', new_user_song_path(current_user) %></li>
     </ul>
   <% end %>
</div>

<div id="app">
<% if current_user %>
  Signed in as <%= current_user.dj_name %> | <%= link_to "Logout", '/logout' %>
<% else %>
  <%= link_to 'Login', '/login' %> | <%= link_to 'Signup', '/signup' %>
<% end %>

<%= yield %>
</div>

<div class="nav-bot">
</div>
</body>
</html>
